{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Electronics Etc</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}" media="screen" />
</head>
<body>
<div id="wrap">
	<div id="header">
		<div id="headerlinks">
		<a href="{% url 'catalog.views.homePage' %}" title="Home">Home</a>
		<a href="{% url 'catalog.views.AboutUsPage' %}" title="About Us">About Us</a>
		<a href="{% url 'catalog.views.ContactUsPage' %}" title="Contact Us">Contact Us</a>
		<a href="{% url 'catalog.views.catalogView' %}" title="View our Products">View our Products</a>
		</div>
		<h1>Welcome to Electronics Etc!</h1>
	</div>

	<div id="sidebar">
		<h2>Links</h2>
		<div class="box">
		<ul>
		<li><a href="{% url 'catalog.views.homePage' %}">Home</a></li>
		<li><a href="{% url 'catalog.views.AboutUsPage' %}">About Us</a></li>
		<li><a href="{% url 'catalog.views.ContactUsPage' %}">Contact Us</a></li>
		<li><a href="{% url 'catalog.views.catalogView' %}">View our Products</a></li>
		</ul>
		</div>

		
	</div>

	<div id="content">
		<h2>Discount shopping!</h2>
		<p>You will not be able to beat our prices if shopping elsewhere!</p>

		<h2>Close to you</h2>
		<p>We recently opened 50 branches nationwide - come and pay us a visit!</p>

		<h2>Making a name for ourselves</h2>
		<p>We may be new, but fake magazine voted us under the top 10 small to medium sized enterprises most likley to suceed</p>
	</div>

	<div id="footer">
		<div style="float: right;">
		</div>
	</div>
</div>
</body>
</html>
	
